ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    position: fixed;
    width: 100%;
}

body {
    margin:0;
    background-color:white;
}
  
li.nav {
    float: left;
    border-right:1px solid gold;
}
  
li:last-child.nav {
    border-right: none;
}
  
a.nav {
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
a:hover.nav {
    background-color: #111;
}

#img_logo {
    width: 25%;
    height: 300px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cdc_heading {
    color: goldenrod;
    text-align: center;
}

h2.heading_common {
    color: goldenrod;
    text-align: center;
    margin-top: 50px;
}

#login_form {
    text-align: center;
}

@media screen and (max-width: 650px) {
    li.nav {
        float:none;
    }
    #img_logo {
        width: 50%;
        height: 200px;
        margin-top: 340px;
    }
    h2.heading_common {
        margin-top: 340px;
    }
}