#error_heading {
    margin-top: 100;
    margin-left: 300;
    margin-right: 300;
    color: red;
    text-align: center;
}
#back_button {
    width: auto;
    padding: 10px 18px;
    background-color: #333;
    margin-left: 50;
    text-decoration: none;
    color: goldenrod;
}
@media screen and (max-width: 800px) {
   
    #error_heading {
        margin-left: 100;
        margin-right: 100;
    }
    #back_button {
        margin-left: 150px;
        margin-right: 150px;
    }
}
