#login_form {
    text-align: center;
}

#login_button {
    background-color: #333;
    color: goldenrod;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

div.container {
    padding-left: 400px;
    padding-right: 400px;
    color: goldenrod;
}

.date {
    display: block;
    height: 30;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.drop_down {
    display: block;
    height: 30;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.number {
    display: block;
    height: 30;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cancel_button {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    margin-left: 400px;
    text-decoration: none;
    color: black
}

@media screen and (max-width: 1400px) {
    div.container {
        padding-left: 50px;
        padding-right: 50px;
    }
    #cancel_button {
        margin-left: 50px;
    }
}