body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    background-color: #111;
    margin-top: 45px;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: goldenrod;
    display: block;
}

.sidenav a:hover {
    color: gold;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

#latest_feed {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
}

a.main_link {
    width: auto;
    padding: 10px 18px;
    background-color: #111;
    text-decoration: none;
    color: goldenrod;
}

a.main_link:hover {
    color: gold;
}

@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 15px;
        margin-top: 38px;
    }
    .sidenav a {font-size: 18px;}
}

